core-plugins-migration 2.json
app 2.json
appearance 2.json
core-plugins 2.json
cache
todoist-token
vault-stats.json
workspace 2.json
workspaces.json
workspace.json
workspace-mobile.json
workspace

# Plugins that cannot be synced due to API keys or other personal information
plugins/readwise-official
plugins/obsidian-map-view
plugins/remember-cursor-position/cursor-positions.json

# From Github Actions Template
temp/
build/
.DS_Store
/*.env
logfile.log
.vscode
.idea
megalinter-reports
