# Obsidian specific ignored files
core-plugins-migration 2.json
app 2.json
appearance 2.json
core-plugins 2.json
cache
todoist-token
vault-stats.json
workspace 2.json
workspaces.json
workspace.json
workspace-mobile.json
workspace

##  Plugins that cannot be synced due to API keys or other personal information
plugins/readwise-official
plugins/obsidian-map-view
plugins/remember-cursor-position/cursor-positions.json

## Ignored files from Github Actions Template
### No ansible in obsidian
.ansible-lint
### No mise in obsidian
.mise.toml

# From Github Actions Template


# IDE related cache/leak files
.idea
.vscode/**
.obsidian
.obsidian/**

# Local related cache/leak files
.DS_Store
**/.envrc
**/.env
*.log
temp/
build/

megalinter-reports

# Ansible related cache/leak files
ansible.cfg

# Kubernetes related cache/leak files
kubeconfig

# Terraform related cache/leak files
**/.terraform
**/*.auto.tfvars
**/*.tfvars
